body {
    width: 100%;
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevent text from wrapping */
}

html,body{
    display: none;
}

/* For WebKit browsers (Chrome, Safari) */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Hides scrollbars */
  }
.container {
    width: 100vw; /* Use viewport width unit */
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevent content wrapping */
}

img, video, iframe {
    max-width: 100%;
    height: auto;
}
